$break1: 768px;

.navbar {
  padding: 20px;
  background-color: #FFF;
}

.hide-nav {
  display: none;
}

.links_section {
	@media all and (max-width: $break1 - 1) {
		display: flex;
		position: fixed;
		top: -100%;
		left: -100%;
		background-color: white;
		flex-direction: column;
		min-width: 260px;
		padding: 20px;
		transition: all 0.3s;
		z-index: -1;
  }
}

.logo {
  font-size: 1.5em;
}

.menu_link {
	font-weight: 500;
	font-size: 1em;
	color: #000;
  text-decoration: none;
  padding: 0 20px;
}

.nav--icon {
  height: 14px;
}
